:root {
  --yellow: hsl(35, 77%, 62%);
  --vermillion: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --silver: hsl(233, 8%, 79%);
  --dark-silver: #5E607A;
  --gunmetal: hsl(236, 13%, 42%);
  --dark-space-blue: hsl(240, 100%, 5%);
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

body {
  --gutter: 1rem;

  background-color: var(--off-white);
  font-family: 'Inter';
  font-size: 0.9375rem;
  line-height: 1.625rem;
  max-width: calc(70rem + var(--gutter) * 2);
  margin: auto;
  color: var(--gunmetal);
  padding-inline: var(--gutter);
}

nav {
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-space-blue);
}

a {
  color: currentcolor;
  text-decoration: none;

  &:hover {
    color: var(--vermillion);
  }
}

/* Composition */
.cluster {
  --space: 1rem;
  --justify: flex-start;

  display: flex;
  flex-wrap: wrap;
  gap: var(--space);
  justify-content: var(--justify);
  align-items: center;
}

.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack>*+* {
  margin-block-start: var(--space, 2rem);
}

.container,
body,
main,
section,
article {
  container-type: inline-size;
}

.three-cols {
  display: grid;
  gap: 2rem;

  @container (width > calc(3 * 30ch)) {
    grid-template-columns: repeat(3, 1fr);

    >.span-2 {
      grid-column: span 2;
    }
  }
}

/* Utility */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.inverted {
  background-color: var(--dark-space-blue);
  color: var(--silver);

  :where(h1, h2, h3, h4, h5, h6) {
    color: var(--off-white);
  }
}

.txt-yellow {
  color: var(--yellow);
}

.txt-xl {
  font-size: 3.5rem;
  line-height: 3.5rem;
  font-weight: 800;
}

.txt-lg {
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 700;
}

.txt-md {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
}

.txt-sm {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 800;
}

.txt-xs {
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 800;
}

/* Block */
.btn {
  font-weight: 700;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.5ch;

  padding-inline: 2rem;
  padding-block: 0.75rem;
  max-width: fit-content;

  background-color: var(--vermillion);
  color: var(--dark-space-blue);

  cursor: pointer;

  &:hover {
    background-color: var(--dark-space-blue);
    color: var(--off-white);
  }
}
