---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import FeaturedArticle from "../components/FeaturedArticle.astro";
import NewArticles from "../components/NewArticles.astro";
import PopularArticles from "../components/PopularArticles.astro";
---

<BaseLayout>
  <Header/>

  <main>
    <div class='three-cols'>
      <FeaturedArticle />
      <NewArticles />
    </div>

    <PopularArticles/>
  </main>
</BaseLayout>

<style>
  div {
    padding-inline: var(--gutter);
  }
</style>
