---
import Header from '../components/Header.astro'
import '../css/reset.css'
import '../css/style.css'

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content={Astro.generator} />

    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">

    <title>{title || 'Frontend Mentor | News homepage'}</title>
  </head>
  <body>
    <Header />
    <slot/>
  </body>
</html>
