---
import featuredArticleImageDesktop from '../images/image-web-3-desktop.jpg'
import featuredArticleImageMobile from '../images/image-web-3-mobile.jpg'
---

<section class='span-2'>
  <h1 class='sr-only'>Featured Article</h1>
  <article>
    <picture class='span-2'>
      <source
        media="(max-width: 600px)"
        srcset={featuredArticleImageMobile.src}
      />
      <img src={featuredArticleImageDesktop.src} alt=''>
    </picture>

    <h2 class='txt-xl'>The Bright Future of Web 3.0?</h2>

    <div class='stack'>
      <p>
        We dive into the next evolution of the web that claims to put the power of the platforms back into the hands of the people. 
        But is it really fulfilling its promise?
      </p>

      <Button href='#'>Read more</Button>
    </div>
  </article>
</section>

<style>
  article {
    display: grid;
    gap: 2rem;

    @container (width > calc(2 * 35ch)) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  picture {
    grid-column: 1 / -1;
  }
</style>
