---
import { Image } from 'astro:assets'
import logo from '../images/logo.svg'
import openIcon from '../images/icon-menu.svg'
import closeIcon from '../images/icon-menu-close.svg'
---

<header class='cluster' style='--justify: space-between'>
  <Image src={logo} alt='Brand logo'/>
  <button aria-controls='header-nav' aria-expanded="false">
    <Image src={openIcon} class='menu-open-icon' alt='Open navigation'/>
    <Image src={closeIcon} class='menu-close-icon' alt='Close navigation'/>
  </button>
  <nav id='header-nav'>
    <ul role='list'>
      <li><a href='#'>Home</a></li>
      <li><a href='#'>New</a></li>
      <li><a href='#'>Popular</a></li>
      <li><a href='#'>Trending</a></li>
      <li><a href='#'>Categories</a></li>
    </ul>
  </nav>
</header>

<script>
  const btn = document.querySelector('button[aria-controls="header-nav"]')
  btn?.addEventListener('click', () => {
    const isExpanded = btn.getAttribute('aria-expanded') === 'true'
    btn.setAttribute('aria-expanded', String(!isExpanded  ))
  })
</script>

<style>
  header {
    /* @link https://utopia.fyi/clamp/calculator?a=375,1024,32—88 */
    --header-padding-top: clamp(2rem, -0.0223rem + 8.6287vw, 5.5rem);

    /* @link https://utopia.fyi/clamp/calculator?a=375,1024,32—56 */
    --header-padding-bottom: clamp(2rem, 1.1333rem + 3.698vw, 3.5rem);

    padding-inline: var(--gutter);
    padding-block: var(--header-padding-top) var(--header-padding-bottom);
    position: sticky;
    top: 0;
    background-color: var(--off-white);
  }

  button {
    background: transparent;
    border: 0;
    position: relative;
    z-index: 2;
    right: 0;

    .menu-close-icon {
      display: none;
    }

    &[aria-expanded='true'] {
      .menu-open-icon {
        display: none;
      }

      .menu-close-icon {
        display: block;
      }
    }

    @media (width > 600px) {
      display: none;
    }
  }

  ul {
    @media (width <= 600px) {
      margin-block-start: 20vh;
      font-size: 1.125rem;
      line-height: 1.5;
      color: var(--dark-space-blue);
    }

    @media (width > 600px) {
      display: flex;
      flex-wrap: wrap;
      column-gap: 2.5rem;
      align-items: center;
    }
  }

  a {
    @media (width <= 600px) {
      display: block;
      padding-inline: 1.5rem;
      padding-block: 0.75rem;
    }
  }

  nav {
    transition-behavior: allow-discrete;
    transition-property: display, opacity;
    transition-duration: 0.2s;
    z-index: 1;
    background-color: var(--off-white);
    right: 0;

    display: block;
    opacity: 1;

    @starting-style {
      opacity: 0;
    }

    @media (width <= 600px) {
      position: fixed;
      top: 0;
      overflow: hidden;
      height: 100vh;
      width: 60%;
      box-shadow: 0 0 0 100vw hsl(0, 0%, 0%, 0.5);

      button[aria-expanded='false'] + & {
        display: none;
        opacity: 0;
      }
    }
  }
</style>
