---
import type { Article } from '@/types'

interface Props  {
  articles: Article[]
}

const { articles } = Astro.props
---

<section class='inverted stack'>
  <h1 class='txt-yellow txt-lg'>New</h1>

  {articles.map(({ title, preview, slug }) => (
    <article class='stack stack--sm'>
      <h2><a href={`/articles/${slug}`}>{title}</a></h2>
      <p>{preview}</p>
    </article>
  ))}
</section>

<style>
  section {
    padding-block: 2rem;
    padding-inline: 1.5rem;
  }

  article:not(:first-of-type) {
    border-top: 1px solid var(--dark-silver);
    padding-block-start: 2rem;
  }
</style>
