---
const articles = [
  {
    title: 'Hydrogen VS Electric Cars',
    preview: 'Will hydrogen-fueled cars ever catch up to EVs?',
    url: '#',
  },
  {
    title: 'The Downsides of AI Artistry',
    preview: 'What are the possible adverse effects of on-demand AI image generation?',
    url: '#',
  },
  {
    title: 'Is VC Funding Drying Up?',
    preview: 'Private funding by VC firms is down 50% YOY. We take a look at what that means.',
    url: '#',
  }
]
---

<section class='inverted stack'>
  <h1 class='txt-yellow txt-lg'>New</h1>

  {articles.map(({ title, preview, url }) => (
    <article class='stack--sm'>
      <h2><a href={url}>{title}</a></h2>
      <p>{preview}</p>
    </article>
  ))}
</section>

<style>
  section {
    padding-block: 2rem;
    padding-inline: 1.5rem;
  }

  article:not(:first-of-type) {
    border-top: 1px solid var(--dark-silver);
    padding-block-start: 2rem;
  }
</style>
