---
import { Image } from 'astro:assets'
import retroPCs from '../images/image-retro-pcs.jpg'
import topLaptops from '../images/image-top-laptops.jpg'
import gamingGrowth from '../images/image-gaming-growth.jpg'

const articles = [
  {
    title: 'Reviving Retro PCs',
    preview: 'What happens when old PCs are given modern upgrades?',
    imgSrc: retroPCs,
    url: '#',
  },
  {
    title: 'Top 10 Laptops of 2022',
    preview: 'Our best picks for various needs and budgets.',
    imgSrc: topLaptops,
    url: '#',
  },
  {
    title: 'The Growth of Gaming',
    preview: 'How the pandemic has sparked fresh opportunities.',
    imgSrc: gamingGrowth,
    url: '#',
  },
]
---

<section>
  <h1 class='sr-only'>Popular Articles</h1>
  <ol class='three-cols' role='list'>
    {articles.map(({ title, preview, imgSrc, url }) => (
    <li>
      <article>
        <Image src={imgSrc} alt="" width='100' loading='eager' />
        <hgroup class='stack--sm'>
          <h2 class='txt-xs'><a href={url}>{title}</a></h2>
          <p>{preview}</p>
        </hgroup>
      </article>
    </li>
    ))}
  </ol>
</section>

<style>
  section {
    padding-inline: var(--gutter);
    margin-block-start: 4.5rem;
  }

  ol {
    counter-reset: article-rank;
  }

  li {
    counter-increment: article-rank;
  }

  article {
    display: flex;
    gap: 1.5rem;
    align-items: flex-start;
  }

  h2::before {
    content: counter(article-rank, decimal-leading-zero);
    display: block;
    color: var(--vermillion);
    font-size: var(--txt-md-size);
    line-height: var(--txt-md-l-height);
    font-weight: var(--txt-md-weight);
    margin-block-end: 0.75rem;
  }
</style>
